* {
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-bottom: 0rem;
}

html {
    background-color: var(--white-primary);
}

:root {
    --primary-color: #3DD486;
    --white-primary: #f1fff8;
    --dark-primary: #217047;
    --very-dark-primary: #185234;
}

nav div{
    background-color: var(--dark-primary);
}

.fixed-top a{
    color: var(--primary-color);
}

header {
    width: auto;
    height: auto;
}

header nav {
    background-color: var(--dark-primary);
    height: 5rem;
}


main {
    box-sizing: border-box;
    text-align: center;
    margin-top: 4rem;
}

.main-img-container {
    text-align: center;
    background-color: var(--primary-color);
    width: auto;
    
}

.banner-img {
    width: 100%;
    height: 100%;
    max-width: 950px;
    object-fit: cover;
}


.home-main {
    text-align: center;
}

h1 {
    font-size: x-large;
    color: var(--very-dark-primary);
}

h2 {
    font-size: x-large;
    color: var(--very-dark-primary);
}


.bloque-main {
    padding-top: 2rem;
    padding-bottom: 2rem;

}

.bloque-main h1 {
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.btn-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
}

main button {
    padding: 5px 10px 5px 10px;
    width: 14rem;
    height: 2.6rem;
    border-radius: 4px;
}

button a {
    text-decoration: none;
}

.agendar-btn {
    background-color: var(--very-dark-primary);
}
.agendar-btn a{
    color: var(--white-primary);
}

.servicios-btn {
    background-color: var(--dark-primary);
}
.servicios-btn a{
    color: var(--white-primary);
}

.section-porque {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
}



.card {
    margin: 2rem;
}

.card img {
    object-fit: contain;
    padding: 2rem;
}

.seccion-multimedia {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.seccion-multimedia img {
    width: 400px;
    height: 300px;
    margin-bottom: 1rem;
}

.seccion-basicos  {
    height: 220px;
    padding-top: 30px;
    padding-bottom: 30px;

}


.agendar-main form div {
    max-width: 700px;

}


.agendar-main .btn {
    background-color: var(--dark-primary);
    color: var(--white-primary);
}

.agendar-main img {
    object-fit: contain;
}


footer {
    background-color: var(--dark-primary);
    color: var(--white-primary);
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
    margin-top: 3rem;
}

footer h3 {
    color: var(--white-primary);
}

.footer__div {
    width: 100%;
    padding: 0px;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.copyright {
    padding-top: 1rem;
    margin-bottom: 0px;
}


@media screen and (min-width: 800px) {
    .btn-container {
        justify-content: center;
        flex-direction: row;
        column-gap: 1rem;
    }
    .seccion-multimedia {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    }
    .seccion-multimedia img{
        margin-bottom: 0rem;
    
    }

    .info-container {
    flex-direction: row;
    justify-content: space-around;
}

}