* {
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-bottom: 0rem;
}

html {
    background-color: var(--white-primary);
}

:root {
    --primary-color: #3DD486;
    --white-primary: #f1fff8;
    --dark-primary: #217047;
    --very-dark-primary: #185234;
}

header {
    background-color: var(--dark-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
}

.logo {
    font-size: x-large;
    font-weight: 600;
    font-style: italic;
    color: var(--white-primary);
    margin-bottom: 0rem;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul{
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    margin-bottom: 0rem;
}

header nav ul li{
    list-style: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
}

header nav ul li a{
    text-decoration: none;
    font-size: larger;
    color: var(--primary-color);
}

main {
    box-sizing: border-box;
    text-align: center;
}

.main-img-container {
    text-align: center;
    background-color: #3DD486;
    
}

main img {
    height: 400px;
}

.main-form {
    text-align: center;
}

h1 {
    font-size: x-large;
    color: var(--very-dark-primary);
}

h2 {
    font-size: x-large;
    color: var(--very-dark-primary);
}


.bloque-main {
    padding-top: 2rem;
    padding-bottom: 2rem;

}

.bloque-main h1 {
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.btn-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
}

button {
    padding: 5px 10px 5px 10px;
    width: 12rem;
    height: 2.2rem;
    border-radius: 15px;
}

button a {
    text-decoration: none;
}

.agendar-btn {
    background-color: var(--very-dark-primary);
}
.agendar-btn a{
    color: var(--white-primary);
}

.servicios-btn {
    background-color: var(--dark-primary);
}
.servicios-btn a{
    color: var(--white-primary);
}

.section-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 1rem 1rem 1rem;
    justify-content: center;
}

section h2{
    padding-bottom: 10px;
}

.seccion-multimedia {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.seccion-multimedia img {
    width: 400px;
    height: 300px;
    margin-bottom: 1rem;
}

.seccion-basicos  {
    height: 220px;
    padding-top: 30px;
    padding-bottom: 30px;

}

form {
    height: 100px;
}


footer {
    background-color: var(--dark-primary);
    color: var(--white-primary);
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: start;
    text-align: center;
}

footer p {
    padding-top: 1px;
    padding-bottom: 1px;
}

