* {
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-bottom: 0rem;
}

:root {
    --primary-color: #3DD486;
    --white-primary: #f1fff8;
    --dark-primary: #217047;
    --very-dark-primary: #185234;
}

nav div{
    background-color: var(--dark-primary);
}

.navbar-brand {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-left: 1rem;
    text-shadow: 1px 2px 2px #2a2727;
}

.fixed-top a{
    color: var(--primary-color);
}

header {
    width: auto;
    height: auto;
}

header nav {
    background-color: var(--dark-primary);
    height: 5rem;
}


main {
    box-sizing: border-box;
    text-align: center;
    margin-top: 4rem;
}

.main-img-container {
    text-align: center;
    background-color: var(--primary-color);
    width: auto;
    
}

.section-text {
    margin-top: 3rem;
}

.seccion-servicios .cards-container{
    height: 100%;
    width: 100%;
}

.banner-img {
    width: 100%;
    height: 100%;
    max-width: 950px;
    object-fit: cover;
}


.home-main {
    text-align: center;
}

h1 {
    font-size: 40px;
    text-shadow: 1px 1px 2px #555555;
    color: var(--primary-color);

}

h2 {
    font-size: x-large;
    color: var(--very-dark-primary);
}


.bloque-main {
    padding-top: 2rem;
    padding-bottom: 2rem;

}

.bloque-main h1 {
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.btn-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
}

main button {
    padding: 5px 10px 5px 10px;
    width: 14rem;
    height: 2.6rem;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #555555;
}

button a {
    text-decoration: none;
}

.agendar-btn {
    background-color: var(--very-dark-primary);
}
.agendar-btn a{
    color: var(--white-primary);
}

.servicios-btn {
    background-color: var(--dark-primary);
}
.servicios-btn a{
    color: var(--white-primary);
}

.section-porque {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
}



.card {
    margin: 1.5rem;
    padding-left: 0px;
    padding-right: 0px;
}

.card img {
    object-fit: contain;
    padding: 2rem;
}

.seccion-multimedia {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0 4rem 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

}

.seccion-multimedia img {
    width: 100%;
    height: 100%;
    max-width: 500px;
    margin-bottom: 1rem;
}

.iframe-container {
    overflow: hidden;
}


.main-servicios {
    margin-top: 7rem;
}

.main-servicios h1{
    font-size: 55px;
    text-shadow: 1px 1px 2px #555555;
    color: var(--primary-color);
}

.seccion-basicos  {
    padding-top: 30px;
    padding-bottom: 30px;
}

.seccion-basicos h2{
    margin-bottom: 1.5rem;
}

.seccion-basicos  p{
    padding: 0 1rem 0 1rem;
}

.seccion-basicos img  {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0rem;
}

.seccion-basicos .cards-container{
    width: 100%;
    height: 100%;
}

.seccion-basicos .card-body  {
    display: flex;
    justify-content: center;
    align-items: center;
}


.seccion-basicos .card-img-container  {
    height: 65%;
}

.servicios-avanzados .card{
    height: 16rem;
}

.agendar-main {
    margin-top: 5rem;
}

.agendar-main form div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.agendar-main input,.agendar-main label,  .agendar-main textarea  {
    max-width: 500px;
}

.agendar-main input, .agendar-main textarea {
    margin-bottom: 1.5rem;
}

.agendar-img-container {
    padding: 0 1rem 0 1rem;
}

.agendar-img-container img{
    width: 100%;
    height: 100%;
    max-width: 600px;
    object-fit: contain;
}


.agendar-main .btn {
    background-color: var(--dark-primary);
    color: var(--white-primary);
    margin-bottom: 1.5rem;
}

.agendar-main img {
    object-fit: contain;
}


footer {
    background-color: var(--dark-primary);
    color: var(--white-primary);
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
    margin-top: 3rem;
}

footer h3 {
    color: var(--white-primary);
}

.footer__div {
    width: 100%;
    padding: 0px;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.copyright {
    padding-top: 1rem;
    margin-bottom: 0px;
}


@media screen and (min-width: 1100px) {
    .btn-container {
        justify-content: center;
        flex-direction: row;
        column-gap: 1rem;
    }

    .seccion-multimedia {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

    .seccion-multimedia img{
        margin-bottom: 0rem;
    }

    .info-container {
    flex-direction: row;
    justify-content: space-around;
    }   
}